.container {
  font-size: 20px;
}
a{
    text-decoration: none;
    color:grey;
}
.wrapper {
  padding: 10px 30px;
}
.header-title {
  display: flex;
  color: grey;

  justify-content: space-between;
}
.header-tel {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.header-auth i {
  margin: 0 2px;
}
.header-nav {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  width: 700px;
  padding: 0 20px;
  justify-content: space-between;
}
.list-item {
  list-style: none;
  > a {
    text-decoration: none;
    color: black;
  }
}

.hero-container {
  background-image: url("./banner1.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  position: relative;
  max-width: 100%;
}

.hero-content {
  padding: 50px 0 60px 70px;
  width: 600px;
}
.hero-title {
  font-size: 100px;
  margin: 40px 0;
}
.hero-desc {
  margin: 0;
  color: grey;
}

.hero-btn {
  margin-top: 30px;
  background-color: white;
  border: none;

  padding: 15px 45px;
}
.hero-arrow-left {
  position: absolute;
  background-color: white;
  padding: 15px;
  opacity: 0.5;
  left: 0;
  bottom: 50%;
}
.hero-arrow-right {
  position: absolute;
  background-color: white;
  padding: 15px;
  opacity: 0.5;
  right: 0;
  bottom: 50%;
}

.product {
  margin: 100px 0;
}
.product-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.product-list {
  display: flex;
  justify-content: space-between;
}
.product-items {
  margin: 20px 30px;

  > h4 {
    font-size: 30px;
    margin: 10px 0;
  }
}
.product-img {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
}
.product-price {
  color: rgb(96, 163, 141);
  font-size: 25px;
}

.collection-container {
  display: flex;

}

.collection-item-left {
  width: 65%;
  background-image: url("./collection-item1.jpg");
    background-repeat: no-repeat;
object-fit: cover;
  background-position: center;
    position: relative;
 border-radius: 5px;
}
 .collection-shop{
    text-decoration: none;
    color:black;
    font-size: 30px;
    margin: 20px 0;


}

.collection-iteml{
    position: absolute;
    width: 40%;
    right: 45px;
    top: 120px;
}
.collection-desc{
    margin: 20px 0;
    color: grey;
}
.collection-title{
    font-size: 50px;
    margin: 10px 0;
}
.collection-style{
    color: grey;
}


.collection-item-right {
  width: 35%;
    margin-left: 10px;

}
.collection-itemr{
  background-image: url("./collection-item2.jpg");
    background-repeat: no-repeat;
object-fit: cover;
  background-position: center;
  padding: 20px;
  border-radius: 5px;
  

}
.collection-itemr:nth-child(2) {
  background-image: url("./collection-item3.jpg");
    margin-top: 10px;
 
}

.footer-grid-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 30px;
}

.footer-grid-items{
    color:grey;

}
.footer-title{
    color:black;
}

.footer-list{
    padding:0;
}
.footer-list-item{
    list-style: none;
    margin: 20px 0;
}
.footer-4th-icon i{
    margin: 10px 20px;

}

